html, body {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid: repeat(10, minmax(20px, 1fr))/repeat(10, minmax(20px, 1fr));
  width: 80vmin;
  height: 80vmin;
  border: solid 2px black;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: cente;
  align-items: center;
}

.snake {
  background: green;
}

.square {
  width: minmax(20px, 1fr);
  height: minmax(20px, 1fr);  
}

.apple {
  display: flex;
  align-items: center;
}

.apple::after {
 content: "🍎";
  margin: 0 auto;
}


.head-br {
  border-radius: 0% 100% 100% 0% / 30% 50% 50% 70%;
}

.tail-br {
  border-radius: 100% 0% 0% 100% / 50% 50% 50% 50%;
}