*, *::after,*::before {
  box-sizing: border-box;
}

html { 
  background: url("./img/bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ffffff61;
  background-blend-mode: soft-light;
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
}

body {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #37363A;
  margin: 0;
  font-size: 1rem;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

.box {
  background-color: #e8ddd9;
  border-radius: 10px;
  border: none;
  box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.5);
  padding: 5px;
}

.small-box {
  background-color: #4F5063;
  height: min-content;
  border-radius: 10px;
  border: none;
  padding: 5px;
  color:white;
}

.grid-container {
  display:grid;
  align-content: center;
  margin: 0 1.5em;
  gap:10px;
  grid-template-columns: minmax(50px,1fr) minmax(50px,1fr);
  grid-template-areas:
  " title title"
   "grid grid"
   "grid grid"
   "score best"
   "level speed";
}

.title {
  grid-area: title;
  justify-self: center;
  width: 100%;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-around;
}

#game-grid, #score, #level, #best-score, #speed {
  margin-top: 0;
}

#score, #level, #best-score, #speed {
  text-align: center;
}

#game-grid {
  grid-area: grid;
}

#score {
  grid-area: score;
}

#best-score {
  grid-area: best;
}

#level {
  grid-area: level;
}

#speed {
  grid-area: speed;
}

.grid {
  height: 75vmin;
  width: 75vmin;
  display: grid;
  grid: repeat(10, minmax(20px, 1fr))/repeat(10, minmax(20px, 1fr));
  z-index: 1;
  margin: 2em 0;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: cente;
  align-items: center;
  background-color: #e8ddd9;
  width: 80vmin;
  margin-top: 1em;
}

.snake {
  background: green;
  border-radius: 50%;
  width: 98%;
  height: 100%;
}

.square {
  width: minmax(20px, 1fr);
  height: minmax(20px, 1fr);  
}

.apple {
  display: flex;
  align-items: center;
}

.apple::after {
 content: "🍎";
  margin: 0 auto;
}


.head-br {
  background-color: transparent;
  background-image: url("./img/snakeHead.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.tail-br {
  border-radius: 100% 0% 0% 100% / 50% 50% 50% 50%;
}

#popup {
  display: none;
  position: absolute;
  top: 45%;
  left:50%;
  min-width: 200px;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  background-color: #4F5063;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
}

@media (min-width: 406px) {
  .grid-container {
    grid-template-columns: minmax(50px,1fr) 6fr;
    grid-template-areas:
    " title title"
     "score grid"
     " best grid"
     "level  grid "
     "speed  grid";
  }

  .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #popup {
    top:50%;
    transform: translate(-30%, -50%);
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: minmax(50px,1fr) 75vmin minmax(50px,1fr);
    grid-template-areas:
    " title title title"
     "score grid level"
     " best grid speed"
     "..... grid .....";
  }
  
  .title {
    align-self: center;
    width: 100%;
  }
  
  #popup {
    top:50%;
    transform: translate(-50%, -50%);
  }

  .flex {
    flex-direction: column;
 }
}


 

